<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Class Manager", root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Students", students_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Classrooms", classrooms_path %></li>
    </ul>
  </section>
</nav>
